asgiref
certifi
cffi
charset-normalizer
class-registry
cryptography
defusedxml
Django
django-crispy-forms
django-widget-tweaks
filters
idna
oauthlib
Pillow
psycopg2-binary
pycparser
PyJWT
python-dateutil
python-decouple
python3-openid
pytz
regex
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
urllib3
gunicorn
dj_database_url

